.catalog
{
    width: 80%;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalog-image
{
    width: 400px;
    height: 400px;
}
